<div class="score">
  SCORE: <span>0</span>
</div>

<div class="question-container">
  <div class="question">rgb(0,0,0)</div>

  <div class="options">
    <div class="option"></div>
    <div class="option"></div>
    <div class="option"></div>
  </div>
</div>

<div class="result won">
  <span>CORRECTO!!!!!</span>
  <div class="close">
    <a href="#">Siguiente</a>
  </div>
</div>

<div class="result lost">
  <span>NOOOOOOOOO :( :(</span>
  <div class="close">
    <a href="#">Volver a jugar</a>
  </div>
</div>