<div class="score">
  SCORE: <span id="scoreValue">0</span>
</div>

<div class="question-container">
  <div class="question">rgb(0,0,0)</div>

  <div class="options">
    <div class="option"></div>
    <div class="option"></div>
    <div class="option"></div>
  </div>
</div>

<div class="result won">
  <span>CORRECTO!!!!!</span>
  <div class="close">
    <a href="#">Siguiente</a>
  </div>
</div>

<div class="result lost">
  <span>NOOOOOOOOO :( :(</span>
  <h1>Score: <span id="finalScore"></span></h1>

  <div class="score-form">
    <form action="">
      <input type="email" name="email" class="email-input" placeholder="Correo electrónico">
    </form>
    <a href="#" id="registerScore">Registrar puntaje</a>
  </div>

  <div class="close">
    <a href="#">Volver a jugar</a>
  </div>
</div>

<script>
  // Generates a number between 0 and 2
  var correct;
  var score = 0;

  // Run the first game
  game();

  // Binding click on click
  $('.option').on('click', guess);
  $('.close').on('click', function() {
    event.preventDefault();
    $('.result').hide();
    $('.option').removeClass('scale');

    game();
  });

  // Initialize a new game session
  function game() {
    correct = Math.floor(Math.random() * 3);

    $('.option').each(function(index) {
      var color = generateColor();
      $(this).css('background-color', color);

      // Change answer copy
      if ( index == correct) {
        $('.question').text(color);
      }
    });
  }

  // Verifies a new attempt
  function guess() {
    $(this).addClass('scale');
    var index = $('.option').index(this);

    if ( index == correct ) {
      score++;
      $('.result.won').show();
    } else {
      $('.result.lost').show();
      $('#finalScore').text(score);
      score = 0;
    }
    $('#scoreValue').text(score);
  }

  // Returns a color like this rgb(135, 45, 67)
  function generateColor() {
    return 'rgb(' + random() + ', ' + random() + ', ' + random() + ')'
  }

  // Returns a number between 0 and 255
  function random() {
    return Math.floor(Math.random() * 255);
  }
</script>