// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  font-family: 'Inconsolata';
}

.question-container {
  position: absolute;
  top: 25%;
  width: 100%;
}

.option {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 20px 15px;
  transition: all 0.45s ease;
}

.question {
  font-size: 28px;
}

.score {
  margin: 40px;
  font-size: 24px;
}

.option.scale {
  transform: scale(46);
}

.result {
  display: none;
  position: absolute;
  top: 30%;
  width: 100%;
}

.result span {
  font-size: 42px;
  font-weight: bold;
}

.result .close {
  margin-top: 70px;
}

.result .close a {
  color: white;
  font-size: 21px;
  text-decoration: none;
  border: 5px solid white;
  padding: 10px 15px;
  border-radius: 5px;
}
