// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  font-family: 'Inconsolata';
}

.question-container {
  position: absolute;
  top: 25%;
  width: 100%;
}

.option {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 20px 15px;
  transition: all 0.45s ease;
}

.question {
  font-size: 28px;
}

.score {
  margin: 40px;
  font-size: 24px;
}

.option.scale {
  transform: scale(46);
}

.result {
  display: none;
  position: absolute;
  top: 20%;
  width: 100%;
}

.result span {
  font-size: 42px;
  font-weight: bold;
}

.result .close {
  margin-top: 70px;
}

.result .close a, #registerScore {
  color: white;
  font-family: 'Inconsolata';
  font-size: 21px;
  text-decoration: none;
  border: 5px solid white;
  padding: 10px 15px;
  border-radius: 5px;
}

#registerScore {
  cursor: pointer;
  background-color: transparent !important;
}

.result .close {
  margin-top: 150px;
}

input[type=email] {
  width: 20%;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
  margin: 30px 10px;
  color: white;
  font-family: 'Inconsolata';
  text-align: center;
  font-size: 21px;
  text-decoration: none;
  border: 5px solid white;
  padding: 10px 15px;
  border-radius: 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
  text-align: center;
  font-size: 21px;
  font-family: 'Inconsolata';
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  text-align: center;
  font-size: 21px;
  opacity:  1;
  font-family: 'Inconsolata';
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  text-align: center;
  font-size: 21px;
  opacity:  1;
  font-family: 'Inconsolata';
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  text-align: center;
  font-size: 21px;
  font-family: 'Inconsolata';
}